/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.share-btn-container a i {
  font-size: 50px;
}

.share-btn-container a {
  margin-left: 20px;
  margin-right: 20px;
}

.share-btn-container .fa-facebook {
  color: #3b5998;
}

.share-btn-container .fa-twitter {
  color: #1da1f2;
}

.share-btn-container .fa-telegram {
  color: #1da1f2;
}

.share-btn-container .fa-instagram {
  color: #c13584;
}

.share-btn-container .fa-whatsapp {
  color: #25d366;
}