<!DOCTYPE html>
<html lang="en">

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Starter Template - Materialize</title>

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static',filename='materialize/css/materialize.css') }}" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link href="{{ url_for('static',filename='materialize/css/style.css') }}" type="text/css" rel="stylesheet"
          media="screen,projection"/>
</head>

<body class="grey darken-4">
<!-- NAVBAR -->
<nav class="purple darken-3" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/"
                                          class="brand-logo teal-text text-lighten-3"
                                          style="font-weight: 500">Survey.com</a>
        <!-- MENU for PC/TABLET -->
        <ul class="right hide-on-med-and-down">
            <li><a href="/createsurvey"><i class="small material-icons left teal-text text-lighten-3">assignment</i>Create</a></li>
            <li><a href="/profile/analytics"><i class="small material-icons left teal-text text-lighten-3">insert_chart</i>Analyze</a></li>
            {% if user %}
            <li><a href="/login"><i class="small material-icons left teal-text text-lighten-3">person</i>{{user}}</a>
            </li>
            {% else %}
            <li><a href="/login"><i class="small material-icons left teal-text text-lighten-3">person</i>Login</a></li>
            {% endif %}
            <li><a href="#footer"><i class="small material-icons left teal-text text-lighten-3">language</i>About
                us</a></li>
        </ul>
        <!-- MENU for MOBILE -->
        <ul id="nav-mobile" class="sidenav purple darken-3">
            <li><a href="/createsurvey" class="white-text"><i class="small material-icons teal-text text-lighten-3">assignment</i>Create</a></li>
            <li><a href="/profile/analytics" class="white-text"><i class="small material-icons teal-text text-lighten-3">insert_chart</i>Analyze</a></li>
            {% if user %}
            <li><a href="/login" class="white-text"><i class="small material-icons teal-text text-lighten-3">person</i>{{user}}</a></li>
            {% else %}
            <li><a href="/login" class="white-text"><i class="small material-icons teal-text text-lighten-3">person</i>Login</a></li>
            {% endif %}
            <li><a href="#footer" class="white-text"><i class="small material-icons teal-text text-lighten-3">language</i>About us</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger orange-text text-darken-3"><i class="material-icons">menu</i></a>
    </div>
</nav>
<main>
    {% block pagebody %}
    {% endblock %}
</main>
<!-- FOOTER -->
<footer class="page-footer purple darken-3" id="footer">
    <div class="container">
        <div class="row">
            <!-- ABOUT US -->
            <div class="col l8 s12">
                <h5 class="teal-text text-lighten-3">About Us</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project for the
                    database 2 course. Thank you for visiting out website.</p>
            </div>
            <!-- REALIZED WITH -->
            <div class="col l4 s12">
                <h5 class="teal-text text-lighten-3">This website was realized with:</h5>
                <ul>
                    <li>Programming Language -> <a class="orange-text text-darken-3" href="https://www.python.org/">Python</a>
                    </li>
                    <li>Web Framework -> <a class="orange-text text-darken-3"
                                            href="https://flask.palletsprojects.com/en/1.1.x/">Flask</a></li>
                    <li>Database API -> <a class="orange-text text-darken-3" href="https://www.sqlalchemy.org/">SQLalchemy</a>
                    </li>
                    <li>DBMS -> <a class="orange-text text-darken-3" href="https://www.postgresql.org/">PostgreSQL</a>
                    </li>
                    <li>Administration tool -> <a class="orange-text text-darken-3"
                                                  href="https://github.com/phppgadmin/phppgadmin">phpPgAdmin</a>
                    </li>
                    <li>Chart Tool -> <a class="orange-text text-darken-3"
                                                  href="https://developers.google.com/chart">Google Charts</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- MaterializeCSS credits -->
    <div class="footer-copyright">
        <div class="container">
            Frontend made with <a class="text-bold orange-text text-darken-3" href="http://materializecss.com">MaterializeCSS</a>
        </div>
    </div>
</footer>


<!-- SCRIPTS -->
<script src="{{ url_for('static',filename='materialize/js/materialize.js') }}"></script>
<script src="{{ url_for('static',filename='materialize/js/init.js') }}"></script>

</body>
</html>
