{% extends "base.html" %}

{% block pagebody %}
<br>
<br>
<div class="row">
    <form class="col s8 m6 l4 offset-s2 offset-m3 offset-l4 purple darken-3">
        <h4 class="header center orange-text text-darken-3">Compilation Submited</h4>
        {% if surveyID %}
        <h6 class="header center white-text">SurveyID: {{ surveyID }}</h6>
        {% endif %}
        <div class="divider purple darken-3"></div>
        <div class="collection">
            <a href="/" class="collection-item white-text grey darken-4"><i class="small material-icons left teal-text text-lighten-3">exit_to_app</i>exit</a>
        </div>
    </form>
</div>

<br>
{% endblock %}