{% extends "base.html" %}

{% block pagebody %}
<br>
<div class="row">
    <form class="col s8 m6 l4 offset-s2 offset-m3 offset-l4 orange darken-2">

        {% if title %}
        <h3 class="purple-text text-darken-3 center">{{ title }}</h3>
        {% endif %}

        {% if id %}
        <h6 class="center white-text">survey #{{ id }}</h6>
        {% endif %}

        {% if questionList %}
        <br>
        <div class="divider"></div>
        <br>
        <div class="collection">
            {% for question in questionList %}
                <a class="collection-item grey darken-4 purple-text text-darken-2">
                    <br>
                    <div class="container">
                    {% if question.text %}
                    <h6 class="header center orange-text text-darken-2">{{question.text}}</h6>
                    {% endif %}
                    <br>
                    <div class="divider"></div>
                    <br>
                    <div class="container center">
                    {% with %}
                        {% if question.type == 1 %}
                            {% set options = optionList[loop.index0] %}
                            {% include 'singlemultiplequestion.html' %}
                        {% else %}
                            {% if question.type == 2 %}
                                {% set options = optionList[loop.index0] %}
                                {% include 'multiplequestion.html' %}
                            {% else %}
                                {% if question.type == 3 %}
                                    {% include 'textquestion.html' %}
                                {% else %}
                                    {% if question.type == 4 %}
                                        {% include 'datequestion.html' %}
                                    {% else %}
                                        {% if question.type == 5 %}
                                            {% include 'timequestion.html' %}
                                        {% else %}
                                            {% set options = optionList[loop.index0] %}
                                            {% include 'rangequestion.html' %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endwith %}
                    </div></div><br></a><br>
            {% endfor %}
        </div>
        {% endif %}
        <br>
    </form>
</div>

<br>
{% endblock %}