{% extends "base.html" %}

{% block pagebody %}
<!-- BANNER -->
<div class="section no-pad-bot" id="base-banner">
    <br>
    <div class="container z-depth-4">
        <br>
        <!-- TITLE -->
        <h1 class="header center teal-text text-lighten-3">Create your survey<br>and send it to everyone</h1>
        <div class="row center">
            <!-- IMAGE -->
            <img class="responsive-img circle" src="{{ url_for('static',filename='images/survey.png') }}">
            <!-- SUBTITLE -->
            <h5 class="header col s12 light white-text">A modern responsive website for creating surveys and analyzing results</h5>
        </div>
        <!-- BUTTON -->
        <div class="row center">
            <a href="/registration" id="start-button"
               class="btn-large waves-effect waves-light orange darken-3 purple-text text-darken-4"
               style="font-weight: 600">Get Started</a>
        </div>
        <br><br>
    </div>
</div>
<br>
<br>
<!-- DESCRIPTION -->
<div class="container z-depth-4">
    <div class="section">
        <div class="row">
            <!--   CREATE   -->
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center purple-text text-darken-3"><i class="large material-icons">create</i></h2>
                    <h5 class="center orange-text text-darken-2">CREATE</h5>
                    <p class="light white-text center">Create your survey online using our web creation tool</p>
                </div>
            </div>
            <!--   SHARE  -->
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center purple-text text-darken-3"><i class="large material-icons">share</i></h2>
                    <h5 class="center orange-text text-darken-2">SHARE</h5>
                    <p class="light white-text center">Share it with everyone with a simple link on every social</p>
                </div>
            </div>
            <!--   ANALYZE   -->
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center purple-text text-darken-3"><i class="large material-icons">insert_chart</i></h2>
                    <h5 class="center orange-text text-darken-2">ANALYZE</h5>
                    <p class="light white-text center">Analyze results with visual charts and diagrams</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
{% endblock %}