{% extends "base.html" %}

{% block pagebody %}
<br>
<br>
<div class="row">
    <form class="col s8 m6 l4 offset-s2 offset-m3 offset-l4 purple darken-3" method="POST">
        <!-- TITLE -->
        <h4 class="header center orange-text text-darken-2">Login</h4>
        <div class="row">
            <!-- USERNAME -->
            <div class="input-field col s10 offset-s1 m8 offset-m2">
                <i class="material-icons prefix">person</i>
                <input name="login_username" id="icon_username" type="text" class="validate">
                <label for="icon_username">username</label>
            </div>
            <!-- PASSWORD -->
            <div class="input-field col s10 offset-s1 m8 offset-m2">
                <i class="material-icons prefix">lock</i>
                <input name="login_password" id="icon_password" type="password" class="validate">
                <label for="icon_password">password</label>
            </div>
        </div>
        <!-- ERROR-MESSAGE -->
        {% if error %}
        <div class="row">
            <h6 class="center red-text text-darken-2">{{error}}</h6>
        </div>
        {% endif %}
        <!-- BUTTON -->
        <div class="row">
            <div class="center">
                <button id="login-button" type="submit" method="POST"
                        class="btn-small waves-effect waves-light orange darken-2 purple-text text-darken-4">
                    login<i class="material-icons right">send</i>
                </button>
            </div>
            <br>
            <div class="center" style="font-size: 10px;">you don't have an account? <a
                    class="orange-text text-darken-3" href="/registration" style="font-size: 12px; font-weight:600;">REGISTER</a>
            </div>
        </div>
    </form>
</div>
<br>
{% endblock %}