{% extends "base.html" %}

{% block pagebody %}
<br>
<br>
<div class="row">
    <form class="col s8 m6 l4 offset-s2 offset-m3 offset-l4 purple darken-3">
        <h3 class="orange-text text-darken-3 center">My Surveys</h3>

        {% if user %}
        <h6 class="center white-text"> {{user}} this are the surveys you created:</h6>
        {% endif %}

        {% if surveyIdList %}
        <br>
        <div class="collection">
            {% for id in surveyIdList%}
            <a href="/profile/mySurveys/{{ id }}" class="collection-item purple-text text-darken-2">{{ surveyTitleList[loop.index0]}}</a>
            {% endfor %}
        </div>
        {% endif %}

        <a href="/profile"
           class="btn-small waves-effect waves-light orange darken-2 purple-text text-darken-4 right">
            profile<i class="material-icons left">keyboard_backspace</i>
        </a>
        <br><br>
    </form>
</div>

<br>
{% endblock %}