{% extends "base.html" %}

{% block pagebody %}
<br>
<br>
<div class="row">
    <form class="col s8 m6 l4 offset-s2 offset-m3 offset-l4 purple darken-3 z-depth-4">

        {% if title %}
        <h3 class="orange-text text-darken-3 center">{{ title }}</h3>
        {% endif %}

        {% if id %}
        <h6 class="center white-text">survey #{{ id }}</h6>
        {% endif %}

        {% if questionsList %}
        <br>
        <div class="collection">
            {% for question in questionsList %}
            <a class="collection-item white-text grey darken-4">{{ question.text }}<label
                    class="right teal-text text-lighten-3">
                {% if question.type == 1 %}
                <img class="white" src="{{ url_for('static',filename='images/single_answer.svg') }}">
                {% elif question.type == 2 %}
                <img class="white" src="{{ url_for('static',filename='images/multiple_answer.svg') }}">
                {% elif question.type == 3 %}
                <img class="white" src="{{ url_for('static',filename='images/text_answer.svg') }}">
                {% elif question.type == 4 %}
                <img class="white" src="{{ url_for('static',filename='images/date_answer.svg') }}">
                {% elif question.type == 5 %}
                <img class="white" src="{{ url_for('static',filename='images/time_answer.svg') }}">
                {% elif question.type == 6 %}
                <img class="white" src="{{ url_for('static',filename='images/liking_answer.svg') }}">
                {% endif %}
            </label></a>
            {% endfor %}
        </div>
        {% endif %}

        <div class="row center">
            <a class="btn-floating btn-large waves-effect waves-light btn modal-trigger" href="#modal1">
                <i class="material-icons purple-text text-darken-3">share</i>
            </a>
            <!-- Modal Structure -->
            <div id="modal1" class="modal bottom-sheet">
                <div class="modal-content grey darken-4 white-text">
                    <a class="modal-close btn-floating btn-small waves-effect waves-light grey darken-3 right"><i
                            class="red-text material-icons">close</i></a>
                    <h5>Share this Survey via:</h5>
                    <h5>or copy the link:</h5>
                    <div class="container">
                        <input id="linkToCopy" class="col s9 white-text" type="text" disabled="false"
                               value="http://localhost:5000/survey/{{ id }}">
                        <a class="btn-floating btn-large waves-effect waves-light orange darken-3 right"
                           onclick="copyToClipboard()"><i
                                class="material-icons purple-text text-darken-3">content_copy</i>
                        </a>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
        <div class="right">
            <a href="/profile/mySurveys"
               class="btn-small waves-effect waves-light orange darken-2 purple-text text-darken-4 right">
                My Surveys<i class="material-icons left">keyboard_backspace</i>
            </a>
        </div>
        <br>
        <br>
    </form>
</div>

<br>

<script>
    function copyToClipboard() {
        var element = document.getElementById("linkToCopy");
        element.disabled = false;
        element.focus();
        element.select();
        if(document.execCommand("copy")){
            element.value = "link copied!";
            element.disabled = true;
        }
    }

</script>
{% endblock %}