{% extends "base.html" %}

{% block pagebody %}
<link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
/>
<br>
<br>
<div class="row">
    <form class="col s8 m6 l4 offset-s2 offset-m3 offset-l4 purple darken-3 z-depth-4">

        {% if title %}
        <h3 class="orange-text text-darken-3 center">{{ title }}</h3>
        {% endif %}

        {% if id %}
        <h6 class="center white-text">survey #{{ id }}</h6>
        {% endif %}

        {% if questionsList %}
        <br>
        <div class="collection">
            {% for question in questionsList %}
            <a class="collection-item white-text grey darken-4">{{ question.text }}<label
                    class="right teal-text text-lighten-3">
                {% if question.type == 1 %}
                <img class="white" src="{{ url_for('static',filename='images/single_answer.svg') }}">
                {% elif question.type == 2 %}
                <img class="white" src="{{ url_for('static',filename='images/multiple_answer.svg') }}">
                {% elif question.type == 3 %}
                <img class="white" src="{{ url_for('static',filename='images/text_answer.svg') }}">
                {% elif question.type == 4 %}
                <img class="white" src="{{ url_for('static',filename='images/date_answer.svg') }}">
                {% elif question.type == 5 %}
                <img class="white" src="{{ url_for('static',filename='images/time_answer.svg') }}">
                {% elif question.type == 6 %}
                <img class="white" src="{{ url_for('static',filename='images/liking_answer.svg') }}">
                {% endif %}
            </label></a>
            {% endfor %}
        </div>
        {% endif %}

        <div class="row center">
            <a class="btn-floating btn-large waves-effect waves-light btn modal-trigger" href="#modal1" onclick="shareLinksCreate()">
                <i class="material-icons purple-text text-darken-3">share</i>
            </a>
            <!-- Modal Structure -->
            <div id="modal1" class="modal bottom-sheet">
                <div class="modal-content grey darken-4 white-text">
                    <a class="modal-close btn-floating btn-small waves-effect waves-light grey darken-3 right"><i
                            class="red-text material-icons">close</i></a>
                    <h5>Share this Survey via:</h5>
                    <div class="share-btn-container">
                        <a href="#" class="facebook-btn">
                            <i class="fab fa-facebook"></i>
                        </a>

                        <a href="#" class="twitter-btn">
                            <i class="fab fa-twitter"></i>
                        </a>

                        <a href="#" class="email-btn">
                            <i class="far fa-envelope"></i>
                        </a>

                        <a href="#" class="telegram-btn">
                            <i class="fab fa-telegram"></i>
                        </a>

                        <a href="#" class="whatsapp-btn">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                    </div>
                    <h5>or copy the link:</h5>
                    <div class="myContainer">
                        <input id="linkToCopy" class= "col s8 white-text" type="text" disabled="true"
                               value="http://localhost:5000/survey/{{ id }}">
                        <a class="btn-floating btn-large waves-effect waves-light orange darken-3 right"
                           onclick="copyToClipboard()"><i
                                class="material-icons purple-text text-darken-3">content_copy</i>
                        </a>
                    </div>
                    <br><br><br>
                </div>
            </div>
        </div>
        <div class="right">
            <a href="/profile/mySurveys"
               class="btn-small waves-effect waves-light orange darken-2 purple-text text-darken-4 right">
                My Surveys<i class="material-icons left">keyboard_backspace</i>
            </a>
        </div>
        <br>
        <br>
    </form>
</div>

<br>

<script type="text/javascript">
    function copyToClipboard() {
        let element = document.getElementById("linkToCopy");
        if(element.value != "link copied!"){
            element.disabled = false;
            element.focus();
            element.select();
            document.execCommand("copy")
            element.value = "link copied!";
            element.disabled = true;
        }
    }

    function shareLinksCreate() {
        let url = document.getElementById("linkToCopy").value;
        let title = 'Compile my Survey on \"{{title}}\"';

        //FACEBOOK:     https://www.facebook.com/sharer.php?u=[post-url]
        //TWITTER:      https://twitter.com/share?url=[post-url]&text=[post-title]&via=[via]&hashtags=[hashtags]
        //EMAIL:        $email = 'mailto:?subject=' . $[post-title] . '&body=Check out this site: '. $[post-url] .'" title="Share by Email';
        //TELEGRAM:     https://telegram.me/share/url?url=[post-url]&text=[post-title]
        //WHATSAPP:     https://api.whatsapp.com/send?text=[post-title] [post-url]


        const facebookBTN = document.querySelector(".facebook-btn");
        const twitterBTN = document.querySelector(".twitter-btn");
        const emailBTN = document.querySelector(".email-btn");
        const telegramBTN = document.querySelector(".telegram-btn");
        const whatsappBTN = document.querySelector(".whatsapp-btn");

        facebookBTN.setAttribute("href", `https://www.facebook.com/sharer.php?u=${url}`);
        twitterBTN.setAttribute("href", `https://twitter.com/share?url=${url}&text=${title}`);
        emailBTN.setAttribute("href", "mailto:?subject=${title} &amp; body=Check out my Survey ${url}.");
        telegramBTN.setAttribute("href", `https://telegram.me/share/url?url=${url}&text=${title}`);
        whatsappBTN.setAttribute("href", `https://api.whatsapp.com/send?text=${title} ${url}`);

    }


</script>
{% endblock %}