{% extends "base.html" %}

{% block pagebody %}
<br>
<br>
<div class="row">
    <form class="col s12 m10 l8 offset-s0 offset-m1 offset-l2 orange darken-3">
        <!-- QUESTION TEXT -->
        {% if text %}
        <p class="header center white-text text-darken-2">{{text}}</p>
        {% endif %}
    </form>

    <form class="col s8 m6 l4 offset-s2 offset-m3 offset-l4 center">
        <pre> </pre>
        <p class="range-field">
            <input type="range" id="test5" min="0" max="10"/>
        </p>

        <div class="row">
            <div class="right">
                <button id="Next" class="btn waves-effect waves-light" type="submit" name="action">Next
                    <i class="material-icons right">send</i>
                </button>
            </div>
            <div class="left">
                <button href="/" id="Prev" class="btn waves-effect waves-light" type="submit" name="action">Prev
                </button>
            </div>

        </div>
    </form>
</div>
<br>
{% endblock %}