{%extends "base.html" %}

{% block pagebody %}

<br>
<div class="row">
    <form class="col s8 m6 l4 offset-s2 offset-m3 offset-l4 purple darken-3">
        <div class="row">
            <h3 class="orange-text text-darken-3 center">Registration completed successfully!</h3>
        </div>
        <div class="container center"> Now you can login<a href="/login" class="orange-text text-darken-2"
                                                           style="font-weight: 600; font-size: 16px;">
            here
            <i class="tiny material-icons">arrow_forward</i>
        </a></div>
        <br><br>
    </form>
</div>

{% endblock %}