{% extends "base.html" %}

{% block pagebody %}
<br>
<br>
<div class="row">
    <form class="col s12 m10 l8 offset-s0 offset-m1 offset-l2 orange darken-3">
        <!-- Question Title -->
        {% if title %}
        <p class="header center white-text text-darken-2">{{title}}</p>
        {% endif %}
    </form>
</div>


<div class="center-align">
    <a class="waves-effect waves-light btn" onclick="copyToClipboard()">Share</a>

    <script>
    function copyToClipboard(text) {
    var inputc = document.body.appendChild(document.createElement("input"));
    inputc.value = window.location.href;
    inputc.focus();
    inputc.select();
    document.execCommand('copy');
    inputc.parentNode.removeChild(inputc);
    alert("URL Copied.");
    }
    </script>

</div>
<br>
{% endblock %}